@charset "utf-8";
nav  {
	background: #EF0107;
	padding-bottom: 20px;
}

.navlist {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding-left: 65px;
}
.headline {
	background: #DB0007;
	font-family: arial;
	color: white;
	font-weight: bold;
	border-top: 5px solid #063672;
}
.headline p {
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;

}


nav a img {
	display: block;
	float: left;
	padding-left: 15px;
	padding-top: 0px;
	margin-top: 4px;
}

.navlistitem {
	float: left;
}


.navlistitem a {
	text-decoration: none;
	display: block;
	color: white;
	font-family: ARIAL;
	font-weight: bold;
	margin-top: 15px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.navlistitem a:hover {
	background: #063672;
}

.navlist {

}
.headlinecontainer {
	display: inline-block;
	border-top: 3px solid #DB0007;
	background: white;
	-webkit-box-shadow: 0px 2px 3px 0px #888888;
	;
	box-shadow: 0px 2px 3px 0px #888888;
	;

}
.headlinetext {
	overflow: hidden;
	display: inline-block;
	float: left;
	margin-left: 15px;
	max-width: 500px;
	color: #3B3B3B;
}

.headlineimage {
	background-color: #cccccc;
	float: left;
	width: 670px;
	height: 377px;
	max-width: 677px;
}

.headlinetext {
	float: right;
	font-family: arial;
}
.headlinetext a {
	font-weight: bolder;
	font-size: xx-large;
	color: #434343;
	text-decoration: none;
}
.headlinetext a:hover {
	color: #DB0007;
}
.button {
	background-color: #DB0007;
	height: 35px;
}
.button p {
	text-align: center;
	padding-top: 10px;
	font-weight: lighter;
	color: #FFFFFF;
}
.button:hover  {
	background: #af1311;
}
.button p a {
	text-decoration: none;
	color: white;
}
.leaguename   {
	color: dimgrey;
	font-style: italic;
}
.matchdate {
	font-weight: bold;
}
.matchicon {
	width: 40px;
	display: inline-block;
}
.matchinfo {
	display: inline-block;
}
